doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/capture.js')
    title #{pageData.title}
  body
    div.container-fluid
      h1 #{pageData.title}
      video#my_camera.isight(autoplay='autoplay')
      form

        input(type='button', value='Take HD Snapshot', id='Snapshot')
        select#folder
          option(value='01') colone1
          option(value='02') colone2
          option(value='03') colone3

        #capture Your captured image will appear here...