doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/capture.js')
    script var app = {}; app.session = "#{session}";
    title #{title}

  body
    header.page-header
      h1 #{title}
    div.row
      section#video.col-xs-9
        video#my_camera.isight(autoplay='autoplay')
      section#capture.col-xs-3
        form
          select#folder.form-control
            option(value='01') colone1
            option(value='02') colone2
            option(value='03') colone3
          .btn-group.btn-group-justified
            .btn-group
              input(type='button', value='Take HD Snapshot')#Snapshot.btn.btn-success
        .result