doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body.index

    a(class="borne-A" href="http://localhost:1337/select/A") A
    a(class="borne-B" href="http://localhost:1337/select/B") B
    a(class="borne-C" href="http://localhost:1337/select/C") C

    //- scripts
    script(src='/socket.io/socket.io.js')
    script var app = {}; app.session = "#{session}";
    script(src='/js/jquery-1.11.1.js')
