doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body.feedback

    //- <img width="415" height="492" id="orange" style="display: none;" src="/js/orange.png">

    //- canvas(id="chutney" resize)
    //- canvas(id="pita" resize)
    //- canvas(id="epautre" resize)
    //- canvas(id="tofu" resize)
    //- canvas(id="champignons" resize)
    //- canvas(id="algues" resize)
    //- canvas(id="bettrave" resize)
    //- canvas(id="tomate" resize)
    //- canvas(id="carotte" resize)
    //- canvas(id="mousse" resize)
    //- canvas(id="pois" resize)
    //- canvas(id="camembert" width="700" height="700")
    canvas(id="chataignes" resize)
    canvas(id="legumes" resize)
    canvas(id="tofu2" resize)
    canvas(id="pain" resize)
    canvas(id="potimarron" resize)
    canvas(id="champignons2" resize)
    canvas(id="carottes2" resize)
    canvas(id="fromage" resize)
    canvas(id="radis" resize)
    canvas(id="salsifis" resize)
    canvas(id="chicoree" resize)




    div(id='start-message' class="alert")
        h2 Va & Vient
        p Bienvenue à Va & Vient,
        p Ici, chaque bouton bleu correspond à un cercle sur l’écran. 
        p Vous disposez au maximum de 3 minutes pour réaliser votre recette visuelle. 
        p Elle peut être composée de 5 à 8 éléments. 
        p Activez ou désactivez en appuyant sur les boutons bleus. 
        p Validez en pressant sur le bouton vert pour imprimer votre recette avant de la transmettre à la cuisine pour son interprétation.
        p Pour commencer appuyez sur n'importe quel bouton

    div(id='alert-elements' class='alert')
        h2 Va & Vient
        p Vous avez selectionné suffisament d'éléments.
        p Appuyez sur le bouton vert pour valider.
        p Ou déselectionnez un élément pour pouvoir le modifier.

    div(id='end-message' class='alert')
        h2 Va & Vient
        p.infos-id
        p Vous avez validé votre recette, elle va désormais être réalisée en cuisine. 
        p Récuperez votre fiche pour le chef.
        p Vous pourrez déguster dans quelques instants le plat que vous venez de créer.
        p Vous serez appelé par votre numéro de recette.

    div(id='nonvalide-message' class='alert')
        h2 Va & Vient
        p La recette ne peut être validée.
        p Veuillez sélectionner davantage d'éléments.
        p La recette doit être composée de 5 à 8 éléments.
    
    div(id='endtime-message' class='alert')
        h2 Va & Vient
        p Votre temps imparti est terminé! 

    //- div(id='endtime-ok' class='alert')
    //-     h2 Va & Vient
    //-     p Vous avez assez d'éléments pour valider votre recette.
    //-     p Appuyez sur le bouton vert pour valider votre recette.

    div.boutons
        ul
            li.btn-mousse
            li.btn-carotte
            li.btn-champignons
            li.btn-camembert
            li.btn-epautre
            li.btn-pois
            li.btn-algues
            li.btn-pita
            li.btn-chutney
            li.btn-tofu  
            li.btn-tomate
            li.btn-bettrave

            //- li.valide 
            //-     span.valide-text Valider
    
    footer
        div.ingredient-jauge
            div.ingredients
            div.ingredients
            div.ingredients
            div.ingredients.needed
            div.ingredients.needed
            div.ingredients.needed
            div.ingredients.needed
            div.ingredients.needed

        div.chrono
            div.time

    //- scripts
    script(src='/socket.io/socket.io.js')
    script var app = {}; app.session = "#{session}";
    script(src='/js/jquery-1.11.1.js')
    script(src="/js/paper.js" type="text/javascript")
    script(type="text/javascript" src="/js/modernizr-2.0.6.custom.js")

    
    //- script(type="text/paperscript" src="/js/anims/champignons.js" canvas="champignons")
    //- script(type="text/paperscript" src="/js/anims/algues.js" canvas="algues")
    //- script(type="text/paperscript" src="/js/anims/bettrave.js" canvas="bettrave")
    //- script(type="text/paperscript" src="/js/anims/tomate.js" canvas="tomate")
    //- script(type="text/paperscript" src="/js/anims/carottes.js" canvas="carotte")
    //- script(type="text/paperscript" src="/js/anims/chutney.js" canvas="chutney")
    //- script(type="text/paperscript" src="/js/anims/epautre.js" canvas="epautre")
    //- script(type="text/paperscript" src="/js/anims/tofu.js" canvas="tofu")
    //- script(type="text/paperscript" src="/js/anims/mousse.js" canvas="mousse")
    //- script(type="text/paperscript" src="/js/anims/pita.js" canvas="pita")
    //- script(type="text/paperscript" src="/js/anims/pois.js" canvas="pois")
    //- script(type="text/javascript" src="/js/anims/camembert.js" canvas="camembert")
    script(type="text/paperscript" src="/js/anims/potimarron.js" canvas="potimarron")
    script(type="text/paperscript" src="/js/anims/champignons2.js" canvas="champignons2")
    script(type="text/paperscript" src="/js/anims/carottes2.js" canvas="carottes2")
    script(type="text/paperscript" src="/js/anims/fromage.js" canvas="fromage")
    script(type="text/paperscript" src="/js/anims/radis.js" canvas="radis")
    script(type="text/paperscript" src="/js/anims/salsifis.js" canvas="salsifis")
    script(type="text/paperscript" src="/js/anims/chicoree.js" canvas="chicoree")
    script(type="text/paperscript" src="/js/anims/chataignes.js" canvas="chataignes")
    script(type="text/paperscript" src="/js/anims/legumes.js" canvas="legumes")
    script(type="text/paperscript" src="/js/anims/tofu2.js" canvas="tofu2")
        script(type="text/paperscript" src="/js/anims/pain.js" canvas="pain")

    script(src='/js/select.js')