body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  background: #FFF;
  font-family: helvetica, sans-serif;
  overflow: hidden;
}
canvas {
  width: 1920px;
  position: absolute;
}
h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.index {
  width: 100px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -50px;
  position: absolute;
}
.index a {
  font-size: 4em;
  color: #000;
  text-decoration: none;
  margin-bottom: 100px;
  display: block;
}
#start-message {
  width: 1920px;
  height: 980px;
  border: none;
  top: 0;
  left: 0;
}
#start-message .message-content {
  width: 60%;
  padding-top: 150px;
  margin: auto;
}
#start-message .message-content .bienvenue-message,
#start-message .message-content .tuto {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
#start-message .message-content .bienvenue-message {
  margin-right: 40px;
  width: 50%;
}
#start-message .message-content .bienvenue-message p {
  padding-right: 150px;
}
#start-message .message-content .tuto {
  margin-left: 40px;
  width: 40%;
}
#start-message .message-content .tuto > div {
  margin-top: 35px;
  position: relative;
}
#start-message .message-content .tuto span {
  position: absolute;
  top: 10px;
}
#start-message .message-content .tuto img {
  width: 9%;
  margin-right: 10px;
}
#start-message .message-content button {
  margin-top: 50px;
  color: #000;
  font-size: 1em;
  padding: 20px 20px;
  background-color: #FFF;
  border: 2px solid #000;
  font-weight: bold;
}
.alert {
  width: 384px;
  border: 3px solid;
  position: absolute;
  background-color: #FFF;
  top: 280px;
  left: 752.94117647px;
  padding: 0px 30px 30px 30px;
  z-index: 200;
}
.alert h2 {
  border-bottom: 1px solid #000;
  padding: 0 0 10px 0;
}
#alert-elements {
  display: none;
}
#end-message {
  display: none;
}
#nonvalid-message {
  display: none;
}
#endtime-message {
  display: none;
}
.boutons {
  position: fixed;
  width: 100%;
  top: 0;
  left: 350px;
  z-index: 100;
}
.boutons li {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  list-style: none;
  display: inline-block;
  margin: 110px 340px 110px 0;
  position: relative;
  top: 0;
  left: 0;
  background-color: #0d71b9;
}
footer {
  width: 1980px;
  height: 100px;
  position: absolute;
  bottom: 100px;
}
footer .valider {
  width: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}
footer .valider .btn-valider {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  list-style: none;
  position: relative;
  top: 0;
  left: 0;
  background-color: #009245;
  margin: auto;
}
.ingredient-jauge {
  position: absolute;
  bottom: 60px;
  font-size: 1.7em;
  font-family: helvetica, sans-serif;
  left: 50px;
}
.ingredients {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
}
.ingredients .inside {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #000;
  border: 1px solid #000;
  position: absolute;
  left: 6px;
  top: 6px;
  display: none;
}
.ingredients .outside {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #000;
  position: absolute;
}
.ingredients.min span {
  position: absolute;
  top: -30px;
  left: 5px;
  font-size: 15px;
}
.ingredients.active .inside {
  display: block;
}
.chrono {
  width: 1800px;
  height: 20px;
  position: absolute;
  bottom: 30px;
  left: 50px;
  border-radius: 20px;
  background-color: #EDEDED;
}
.time {
  width: 10px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
}
/* PRINT */
body.print {
  margin: 0;
  padding: 0;
  width: 21cm;
  height: 29cm;
}
body.print .recette {
  width: 100%;
  height: 50%;
}
body.print .recette img {
  width: 100%;
}
