@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  background: #FFF;
  font-family: 'Karla', sans-serif;
  overflow: hidden;
}
canvas {
  width: 1920px;
  position: absolute;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
}
h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.index {
  width: 100px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -50px;
  position: absolute;
}
.index a {
  font-size: 4em;
  color: #000;
  text-decoration: none;
  margin-bottom: 100px;
  display: block;
}
#start-message {
  width: 1920px;
  height: 980px;
  border: none;
  top: 0;
  left: 0;
}
#start-message .message-content {
  width: 60%;
  padding-top: 150px;
  margin: auto;
}
#start-message .message-content .bienvenue-message,
#start-message .message-content .tuto {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
#start-message .message-content .bienvenue-message {
  margin-right: 40px;
  width: 50%;
}
#start-message .message-content .bienvenue-message p {
  padding-right: 150px;
}
#start-message .message-content .tuto {
  margin-left: 40px;
  width: 40%;
}
#start-message .message-content .tuto > div {
  margin-top: 35px;
  position: relative;
}
#start-message .message-content .tuto span {
  position: absolute;
  top: 10px;
}
#start-message .message-content .tuto img {
  width: 9%;
  margin-right: 10px;
}
#start-message .message-content button {
  margin-top: 50px;
  color: #000;
  font-size: 1em;
  padding: 20px 20px;
  background-color: #FFF;
  border: 2px solid #000;
  font-weight: bold;
}
#end-message {
  display: none;
  width: 1920px;
  height: 980px;
  border: none;
  top: 0;
  left: 0;
}
#end-message .message-content {
  width: 60%;
  padding-top: 150px;
  margin: auto;
}
#end-message .message-content .message-final,
#end-message .message-content .infos-id {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
#end-message .message-content .message-final {
  margin-right: 40px;
  width: 50%;
}
#end-message .message-content .message-final p {
  padding-right: 150px;
}
#end-message .message-content .infos-id {
  margin-left: 40px;
  width: 40%;
  text-align: center;
}
#end-message .message-content .infos-id .recipe-data .numero {
  font-size: 5em;
  font-weight: bold;
}
#end-message .message-content button {
  margin-top: 50px;
  color: #000;
  font-size: 1em;
  padding: 20px 20px;
  background-color: #FFF;
  border: 2px solid #000;
  font-weight: bold;
}
.alert {
  width: 384px;
  border: 3px solid;
  position: absolute;
  background-color: #FFF;
  top: 280px;
  left: 752.94117647px;
  padding: 0px 30px 30px 30px;
  z-index: 200;
}
.alert h2 {
  border-bottom: 1px solid #000;
  padding: 0 0 10px 0;
}
#alert-elements {
  display: none;
}
#nonvalid-message {
  display: none;
}
#endtime-message {
  display: none;
}
.boutons {
  position: fixed;
  width: 100%;
  top: 0;
  left: 350px;
  z-index: 100;
}
.boutons li {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  list-style: none;
  display: inline-block;
  margin: 110px 340px 110px 0;
  position: relative;
  top: 0;
  left: 0;
  background-color: #0d71b9;
}
.boutons li .outside {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #0d71b9;
  position: absolute;
  left: -7px;
  top: -7px;
  opacity: 0;
}
footer {
  width: 1980px;
  height: 100px;
  position: absolute;
  bottom: 50px;
}
footer h3 {
  font-size: 14px;
}
footer .valider {
  width: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}
footer .valider .btn-valider {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  list-style: none;
  position: relative;
  top: 0;
  left: 0;
  background-color: #009245;
  margin: auto;
}
.ingredient-jauge {
  position: absolute;
  left: 150px;
}
.ingredients {
  width: 43px;
  height: 43px;
  position: relative;
  display: inline-block;
  margin-right: 18px;
}
.ingredients .inside {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #000;
  position: absolute;
  left: 6px;
  top: 6px;
  display: none;
}
.ingredients .outside {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
}
.ingredients.min span {
  position: absolute;
  top: -38px;
  left: 11px;
  font-size: 14px;
}
.ingredients.min span:after {
  content: "|";
  display: block;
  padding-left: 10px;
}
.ingredients.active .inside {
  display: block;
}
.chrono {
  position: absolute;
  right: 160px;
}
.chrono .time {
  width: 43px;
  height: 43px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #000;
  margin-right: 15px;
}
/* PRINT */
body.print {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  width: 21cm;
  height: 29.7cm;
}
body.print .infos {
  height: 15cm;
  width: 92%;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  padding: 200px 170px 0px 40px;
}
body.print .infos h2 {
  font-family: 'Karla', sans-serif;
  border-bottom: 1px solid #000;
  padding: 0 0 10px 0;
}
body.print .infos .recette-id {
  margin-top: 20px;
  margin-bottom: 40px;
}
body.print .infos .recette-id h3 {
  font-family: 'Karla', sans-serif;
  text-align: left;
  font-size: 42px;
  font-weight: bold;
  width: 5cm;
  margin-bottom: 10px;
}
body.print .infos .consignes p {
  font-size: 16px;
  margin: 5px 0;
}
body.print .recette {
  width: 130%;
}
body.print .recette img {
  width: 100%;
}
