body {
  width: 100%;
  background: #FFF;
  font-family: helvetica, sans-serif;
}
canvas {
  width: 1920px;
  position: absolute;
}
.alert {
  width: 384px;
  border: 3px solid;
  position: absolute;
  background-color: #FFF;
  top: 270px;
  left: 640px;
  padding: 0px 30px 30px 30px;
  z-index: 200;
}
.alert h2 {
  border-bottom: 1px solid #000;
  padding: 0 0 10px 0;
}
#alert-elements {
  display: none;
}
#end-message {
  display: none;
}
#nonvalid-message {
  display: none;
}
#endtime-message {
  display: none;
}
.boutons {
  position: fixed;
  width: 85%;
  margin-left: 10%;
  z-index: 100;
}
.boutons li {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  list-style: none;
  display: inline-block;
  margin: 60px 120px 60px 120px;
}
.boutons li.valide {
  width: 80px;
  height: 80px;
  margin-left: 1080px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
}
.boutons li.valide span.valide-text {
  line-height: 80px;
}
.btn-epautre {
  background-color: #f88721;
}
.btn-pita {
  background-color: #563354;
}
.btn-tofu {
  background-color: #f7c352;
}
.btn-chutney {
  background-color: #5dcec8;
}
.btn-champignons {
  background-color: #cf8b56;
}
.btn-algues {
  background-color: #3a668f;
}
.btn-bettrave {
  background-color: #e43b82;
}
.btn-tomate {
  background-color: #e9284a;
}
.btn-carotte {
  background-color: #f0655d;
}
.btn-mousse {
  background-color: #05baa3;
}
.btn-pois {
  background-color: #f8aeaf;
}
.btn-camembert {
  background-color: #17866d;
}
.ingredient-jauge {
  position: absolute;
  bottom: 80px;
  font-size: 2em;
  font-family: helvetica, sans-serif;
  left: 50px;
}
.chrono {
  border: 2px solid #000;
  width: 1800px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  left: 50px;
  border-radius: 30px;
}
.time {
  width: 10px;
  height: 30px;
  background-color: black;
  border-radius: 30px;
}
