
body {
  padding: 3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

textarea {
  resize: none;
}

.column{
  position:relative;
  display:inline-block;
  vertical-align: top;
  width:200px;
  height:100px;

  &.legend{
    width:400px;
  }

  select{
    display:none;
  }

  .images{
    position:relative;
    height:100px;
  }

  .vignette{
    max-height:100%;
    position:absolute;
  }

}



