@import 'bootstrap.less';
@bm: @grid-gutter-width * 2;

body {
  margin:@bm;

  #top, #bottom { position: fixed; right: 0; left: 0; padding: 0 @bm; }
  #top    { top:0; bottom:305px; overflow-y: scroll; overflow-x: hidden; }
  #bottom { height: 305px; bottom:0; padding-bottom:@bm; overflow: hidden; }

}

.column {

  .thumbs{
    position:relative;
    &.new-image { .box-shadow(0 0 0 5px red inset); }
  }

  .thumb{
    width:100%; height: auto;
    display:none;
    &:first-child{display:block;}
  }

  &.legend {
    textarea { width: 100%; margin-bottom:@padding-base-vertical; }
  }

  &.images {
    select{ display:none; }
  }

}

#recordedlines {
  .record { margin-bottom:@grid-gutter-width; }
  .column.highlight > * { .box-shadow(0 0 0 5px red); }
  body.manify & .column.highlight {
    position: fixed; top:0; right:0; bottom:0; left:0; padding:@bm;
    width: auto; z-index: 1; overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
  }
}

#formeline {
  margin-top:@grid-gutter-width;
}

#video {
  video { width: 100%; height: auto; background-color: @gray-lighter; }
}

#capture {
  #folder { margin-bottom:@padding-base-vertical; }
  form    { margin-bottom:@grid-gutter-width; }
  .result {
    opacity: 0; .transition(opacity .25s);
    img { width: 100%; height: auto; }
    &.show { opacity: 1; }
  }
}